<div id="work-single" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/work-single/work-single.less</em>, <em>assets/js/pages/work-single/work-single.page.js</em>, and <em>api/controllers/work-single/view-work-single.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
