<div id="work" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/work/work.less</em>, <em>assets/js/pages/work/work.page.js</em>, and <em>api/controllers/work/view-work.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
